doctype html
include ./header.pug       
body
    include ./nav.pug
    .container
        div.col-sm-auto.py-3
            h1 Account Settings
            form(action="/account", method="POST")
                .row.mb-1.white
                    .col-sm-6.text-right
                        label(for="id") ID:
                    .col-sm-6.text-left
                        p #{info.id}
                .row.mb-1.white
                    div.col-sm-6.text-right
                        label(for="username") Username:
                    div.col-sm-6.text-left
                        p #{info.username}
                div.row.mb-1.white
                    div.col-sm-6.text-right
                        label(for="email") Email:
                    div.col-sm-6.text-left
                        p #{info.email}
                button.btn.form.btn-outline-secondary(type="submit" style="margin:5px;") Edit