doctype html
head
    include ./bootstrapScript.pug
    include ./header.pug 
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style 
        include ../public/css/style.css
    style.
      .switch {
      position: absolute;
      margin-left: 400px; /*Moves whole slider and outside box to the left/right*/
      margin-top: 112px; /*Moves whole slider and outside box up/down*/
      display: inline-block;
      width: 90px; /*Changes width of outside box of slider*/
      height: 36px; /*Changes height of outside box of slider*/
      }
      .switch input {
      opacity: 0;
      width: 0;
      height: 0;
      }
      .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc /*Color of "OFF"*/ ;
      -webkit-transition: .4s;
      transition: .4s;
      }
      .slider:before {
      position: absolute;
      content: "";
      height: 28px;/*Changes height of slider*/
      width: 28px; /*Changes width of slider*/
      left: 4px; /*Moves the slider to the left*/
      bottom: 4px;/*Moves the slider up/down within the outside box*/
      background-color: white; /*Color of text*/
      -webkit-transition: .4s;
      transition: .4s; /*Speed of slider*/
      }
      input:checked + .slider {
      background-color: #535b63; /*Color of "ON"*/
      }
      input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(55px);
      }
      /* Rounded sliders */
      .slider.round {
      border-radius: 44px;
      }
      .slider.round:before {
      border-radius: 50%;
      }
      .slider:after{
        content:'OFF';
        color: white;
        display: block;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%; /*Moves text up/down*/
        left: 50%; /*Moves text left/right*/
        font-size: 10px;
        font-family: Verdana, sans-serif;
        }
        input:checked + .slider:after {  
        content:'ON';
        }
        label {
            color: white;
            font-family: Montserrat, sans-serif;
            font-size: 30px;
            letter-spacing: 1px;
            margin-left: 2px;
            margin-top: 20px;
        }
        span.input-group-text{
            width: 130px;
            margin: -42px 0px 0px 280px;
            
        }
body
    include ./nav.pug
    label.switch
        input(type="checkbox" checked="")
        span.slider.round
    .container
    h1 Account Settings 
    form(action="accounts", method="POST")
    form(action="update", method="POST")
        h1(for="id") ID:
        div
            label(for="username") Username:
            input(name="username" value="j1")
        div
            label(for="email") Email: 
            input(name="email" value="j1")
            .input-group-append
            span#basic-addon2.input-group-text @aurora.edu
        div
            label(for="password") Password:
            input(name="password" value="j1")
    
        button.btn(type="submit" style="margin:5px;") Save Changes
        button.btn(type="reset" style="margin:5px;") Cancel