doctype html
include ./header.pug 
body
    include ./nav.pug
    .container
        h1 This is the Accounts page    
        ul 
            li edit account settings
                li email, password, username etc
            li save those changes
            li option to activate/deactivate from the monthly meetings