li.nav-item.active
        a.nav-link(href='/admin/users') Users
li.nav-item.active
        a.nav-link(href='/admin/admins') Admins
li.nav-item.active
        a.nav-link(href='/admin/reports') Reports