h1 Create your profile
form(action='profile-create' method='POST')
    input(type='text' name='name' placeholder='Name' required='')
    input(type='textbox' name='desc' placeholder='tell us about your self' required='')
    input(type='submit')