doctype html
include ./header.pug
body
    include ./nav.pug
    .container
        h1 welcome back #{info.username}
        ol 
            li this is home page
            li should display their next upcomming meeting
            li maybe a calender that is connected to their meeting 
    include ./bootstrapScript.pug      
