doctype html
include ./header.pug
body
    include ./nav.pug
    .container
        div(class='jumbotron text-center')
            h1 Welcome Back #{info.username}
            p This is the Lunch 4 Four website
            div(id='calendar')
    include ./bootstrapScript.pug      