doctype html
head
  meta(charset='utf-8')
  title Lunch 4 Four | Login
  include ./bootstrap.pug
  style. 
    .body{
        min-height: 100%;
        height: 100%;
        background-image: url(/images/campus.jpg);
        
    }
    .space{
        margin-top: 50px;
    }
    
.body
    include ./nav.pug
    .space
    .container
        .container.d-flex.h-100
            .row.w-100
                .col-6
                    h2 this is the blurb
                .col-6.mx-auto.align-self-center
                    .card
                        h1.card-header Sign In
                        .card-body
                            form(action='auth' method='POST')
                                if wrongInfo
                                    .alert.alert-danger(role='alert') Incorrect email or address
                                .input-group.mb-3
                                    input#email.form-control(type='text'  name='username' placeholder='Email' required='')
                                    .input-group-append
                                        span#basic-addon2.input-group-text @aurora.edu
                                //- input(type='text' name='username' placeholder='Username' required='')
                                .input-group.mb-3
                                    input#password.form-control(type='password' name='password' placeholder='Password' required='')
                                //- input(type='password' name='password' placeholder='Password' required='')
                                input.btn(type='submit')
                        .card-footer
                            .alert.alert-primary
                                a(href="/signup")  Not a member? sign up now
        .container    
            .row.align-items-end 
                h2 this is the row                   
                          
include ./bootstrapScript.pug