doctype html
head
  meta(charset='utf-8')
  title Lunch-4-Four | Login
  include ./bootstrap.pug
  style
    include ../public/css/style.css  
  include ./navLogin.pug
body
  div(class='container')
    div(class='row')
      //Section for website description
      div(class='col-sm login')
        h1 Lunch-4-Four
        hr
        p.white Here is some info on lunch for four

      //Section for login form
      div(class='col-sm login')
        .login-form
          h1 Sign In
          form(action='auth' method='POST')
            if wrongInfo
                .alert.alert-danger(role='alert') Incorrect email or address
            .input-group.mb-3
                input#email.form-control(type='text'  name='username' placeholder='Email' required='')
                .input-group-append
                    span#basic-addon2.input-group-text @aurora.edu
            //- input(type='text' name='username' placeholder='Username' required='')
            .input-group.mb-3
                input#password.form-control(type='password' name='password' placeholder='Password' required='')
            //- input(type='password' name='password' placeholder='Password' required='')
            input(type='submit')
            
          .alert.alert-primary
            a(href="/signup")  Not a member? sign up now
