doctype html
include ./header.pug
body
    include ./nav.pug
    .container
        .row
            div(class='col-sm login')
                h1 Meeting Group
                hr
                table.table.table-striped
                    thead
                        th Name
                        th Department
                        th Leader
                    
                    tbody
                        each member in Group
                            tr
                                td=member._name
                                td=member._department
                                if(member._leader == 1)
                                    td Leader
                                else
                                    td

            //Section for login form
            div(class='col-sm login')
                h1 Meeting Detail for #{info.username}
                p.white Date: 
                p.white Time:
                p.white Location:
                div(id='calendar')
    include ./bootstrapScript.pug      