doctype html
head
    include ./bootstrapScript.pug
    include ./header.pug 
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style 
        include ../public/css/style.css
    style.
        label{
            color: white;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
        }
        p {
            padding: 10px;
            text-align: center;
            font-weight: bold;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            text-transform: uppercase;
        }
        h1 {
            text-align: center;
        }
body
    include ./nav.pug
    .container
    .border-arrow.curvy
    h1.white Meeting Details
    div.jumbotron
        form(action="/meeting/leader", method="POST")
            div.row.mb-1
                div.col-sm-6.text-right
                    label(for="date") Date:
                div.col-sm-6.text-left
                    input(name="date" value="" style="width:260px")
            div.row.mb-1
                div.col-sm-6.text-right
                    label(for="time") Time:
                div.col-sm-6.text-left
                    input(name="time" value="" style="width:260px")
            div.row.mb-1
                div.col-sm-6.text-right
                    label(for="location") Location:
                div.col-sm-6.text-left
                    input(name="location" style="width:260px;")

            button.btn.form.btn-outline-secondary(type="submit" style="margin:5px; margin-left:550px; margin-top:60px;") Submit

