doctype html
include ./header.pug
body
    include ./nav.pug
    .container
        h1.white Name:  #{profileData._name}
        div.col-sm-auto.py-3.white
            p Description: #{profileData._description}
            p Department: #{profileData._department}


