//- doctype html
//- head
//-   meta(charset='utf-8')
//-   title Sign Up 
//-   include ./bootstrap.pug
//-   script(src='/js/validate.js')
//-   style.
//-     .body{
//-         margin: 0;
//-         background-image: url(/images/background.jpg);
//-     }
//-     .login-form {
//-     width: 300px;
//-     margin: 0 auto;
//-     font-family: Tahoma, Geneva, sans-serif;
//-     }
//-     .login-form h1 {
//-     text-align: center;
//-     color: #4d4d4d;
//-     font-size: 24px;
//-     padding: 20px 0 20px 0;
//-     }
    
//-     .login-form input[type="submit"] {
//-     width: 100%;
//-     padding: 15px;
//-     background-color: #535b63;
//-     border: 0;
//-     box-sizing: border-box;
//-     cursor: pointer;
//-     font-weight: bold;
//-     color: #ffffff;
//-     }

//- .login-form
//-   h1 Sign Up Form
  
//-   form(action='create' method='POST')
//-     if invalidUsername
//-         .alert.alert-danger(role='alert') This username is already taken
//-     if invalidEmail
//-         .alert.alert-danger(role='alert') This email is already in use
//-     .input-group.mb-3
//-         input#username.form-control(type='text' name='username' placeholder='Username' required='')
//-     .input-group.mb-3
//-         input#email.form-control(type='text' name='email' placeholder='Email' required='')
//-         .input-group-append
//-             span#basic-addon2.input-group-text @aurora.edu
//-     .input-group.mb-3
//-         input#password.form-control(type='password' name='password' placeholder='Password' required='')

//-     input(type='submit')
