doctype html
head
  meta(charset='utf-8')
  title Sign Up 
  include ./bootstrap.pug
  script(src='/js/validate.js')
  style
    include ../public/css/style.css  
  include ./navSignup.pug
body
    div(class='container')
        div(class='row')
            div(class='col-sm')
                h1 Lunch-4-Four
                hr
                p(class='login') Here is some info on lunch for four
            div(class='col-sm')
                .login-form
                    h1 Sign Up
                    form(action='create' method='POST' )
                        if type.invalidEmail
                            .alert.alert-danger(role='alert') This email is already in use
                        if type.invalidPassword
                            .alert.alert-danger(role='alert') Passwords no not match
                        .input-group.mb-3
                            input#email.form-control(type='text'  name='email' placeholder='Email' required='')
                            .input-group-append
                                span#basic-addon2.input-group-text @aurora.edu
                        .input-group.mb-3
                            input#password.form-control(type='password' name='password' placeholder='Password' required='')
                        .input-group.mb-3
                            input#passwordRetype.form-control(type='password' name='passwordRetype' placeholder='Retype Password' required='')

                        input(type='submit')
                        .alert.alert-primary
                            a(href="/")  Already a member? Sign in now