doctype html
include ./header.pug 
body
    main.flex-shrink-0(role='main')
    .container
        h1.mt-5 Account Creation Successful
        a(href='/login') 
            p.lead
            | Log in now to set up a meet up
        
    
    

