h1 Create your profile
form(action='/update' method='POST')
    input(type='text' name='profile_name' placeholder='Name' required='')
    input(type='textbox' name='profile_desc' placeholder='tell us about your self' required='')
    select(name='department')
        each variable in variables
            option(value=variable._value) #{variable._dept}
    input(type='submit')