body {
  background: url(../images/campus.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply; /*creates faded look for background*/
  background-color: #8b8b8b;
}
.btn{
  transition-duration: 0.3s;
}
.btn.form {
  background-color: white;
  color: black;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.1s;
  cursor: pointer;
}
.btn.form:hover {
  background-color: #3d3d3d;
  color: white;
}
.col-sm {
  background-color: rgba(0, 0, 0, 0.7);
}
.col-sm-auto{
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.col-sm.login {
  margin: 20px;
  padding: 10px;
}
.col-sm.updatemeeting{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  text-align: center;
  padding: 50px 0 50px 0;
}
h1 { /*header attributes*/
  color: rgb(255, 255, 255);
}
h1.white{
  font-family: "Impact", sans-serif;
  color: white;
  letter-spacing: 2px;
  text-shadow: 3px 3px 5px #000000;
  font-size: 45px;
  margin-bottom: 35px;
}
.jumbotron {
  background-color:rgba(0, 0, 0, 0.5); /*jumbotron opacity is set to .5 for transparent look*/
  color: #fff;
  font-family: Montserrat, sans-serif;
  width: 50%; /*width is set to 50%, need to change this for different mobile viewing sizes*/
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.login-form {
  width: 300px;
  margin: 0 auto;
}
.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}
.navbar {
  background-color: rgb(25, 34, 41);
}
table{
  color: white;
  border: 1px solid darkgray;
}
thead, th{
  border: 1px solid white;
  background: darkgray;
  color:black;
}
tr,td{
  color: black;
  border: 1px solid darkgray;
  background-color: white;
}
.white{
  color: white;
}